.flex-box {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.sidenav {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: black;
  left: 150px;
  top: 0;
  transition: 0.5s;
}

.show {
  width: 500px;
}

h1 {
  color: white;
}
